@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body{
	background: black;
	justify-content:center;
	justify-items:center;
	align-content:center;
	align-items:center;
	text-align:center;
	color:white;
 	font-family: 'Tajawal', sans-serif;
	min-height: 100vh;
}

#logo{
	
	width:4rem;
  padding: 2px;
}
.top{
	
	background:linear-gradient(to right,#000000,#0000ff);
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: 'Almarai', sans-serif;
	color:white;
}



nav{
	background:linear-gradient(to left,#000000,#0000ff);
}
nav ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}

nav ul li a i{
	margin: .5rem;
	font-size: 2rem;
	color:greenyellow;
	
}


.opens {
    color: rgb(255, 255, 0);
    font-style: italic;
    letter-spacing: 4px;
    line-height: 1;
    padding: 1rem;
    
    background:linear-gradient(to right,#000000,#0000ff);
    
}

/*WELCOME*/

.welcome{
	display: flex;
	justify-content:center;
	justify-items:center;
	align-content:center;
	align-items:center;
	text-align:center;
	margin: 0.3rem;
	background-color: #121212;
	border: .1rem dotted white;
}
.loader
{
    position: relative;
}

.loader::before
{
    content: "";
    position: relative;
    top: 0;
    right:0;
    width: 2px;
    height: 100%;
    background: #03e9f4;
    animation: blinkCursor 10s step(3) infinite;
}

@keyframes blinkCursor
{
    0%,76%
    {
        opacity: 1;
    }
    76%,100%
    {
        opacity: 0;
    }

}

.loader h2
{
    position: relative;
    color: greenyellow;
    letter-spacing: 5px;
    font-size: 1.5em;
    text-transform: uppercase;
    animation: typing 8s steps(10) infinite;
    overflow: hidden;

}

@keyframes typing
{
    0%,90%,100%
    {
        width: 0;
    }
    30%,60%
    {
        width:250px;
    }
}

/*End WELCOME*/

/*BUTTON*/
.main-btn {
	color: #fff;
	background:linear-gradient(to left,#000000,#0000ff);
	text-decoration: none;
	font-size: 1em;
	font-weight: 600;
	display: inline-block;
	padding: 0.9375em 2.1875em;
  margin: 1% 23%;
	letter-spacing: 1px;
	border-radius: 15px;
	margin-bottom: 10px;
  margin-top: 1rem;
	transition: 0.7s ease;
 
}

.main-btn:hover {
  background:linear-gradient(to right,#000000,#0000FF);
	transform: scale(1.1);
}
/*END BUTTON*/

/*Start Section*/

section
{	
	display: block;
	margin: 0.3rem;
	
}

section .container{
	margin: .3rem 0;
}

section .container .crypto{
	background-image: url("assets/images/crypto.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
section .container .crypto h3{
	color: white;
	background-color: #000000;
	opacity: .8;
    font-size: 1.2rem;
    border-radius: 8px;
}

section .container .freecoin{
	background-image: url("assets/images/freecoin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section .container .freecoin .free a{
	
	display: block;
	color:black;
	text-decoration: none;
	font-size: 27px;
	font-weight: bold;
	  
}

section .container .freecoin .free span{
		background-color: wheat;
		border-radius: 8px;
}

section .container .freecoin .free span:hover{
		background:linear-gradient(to right,#000000,#FFFF00);
		  transform: scale(1.1);
	
}

section .container .service{
	background-image: url("assets/images/techno.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section .container .service div a{
	color:white;
    text-decoration: none;
    background-color: black;
    border-radius: 8px;
	margin: 2rem 0;
    font-size: 20px;
    font-weight: bold;
  
  }

  section .container .service div a:hover{
	background: #FFFF00;
	color: black;
  }


  section .container .contact{
	background-image: url("assets/images/phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	
}

section .container .contact .card .info{
	font-size: 1.3rem;
}
section .container .contact .card .info span{
	background-color: #000000;
}
section .container .contact .card .info h3{
	background-color: #000000;
}
section .container .contact .card {
	color: #FFFF00;
}
section .container .contact .card  .icon{
	color: white;
	font-size: 1.7rem;
	text-align: center;
	
}


	/*END SECTION*/














footer{
	margin: 3rem 0 3rem 0;
}

footer div h3{
	font-family: 'Alkalami', serif;
	letter-spacing: 1px;
}



/*media query*/
@media screen and (min-width: 600px) {
	body {
	  
	}
  }
